<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Camp Bug</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <!-- CAMPGROUND INFO SECTION -->
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-fluid d-block mx-auto" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="float-right">$<%= campground.price %>/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p>
                        <em>Submitted By: <%= campground.author.username %></em>
                    </p>
                    <p><%= campground.description %></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a id="editForm" href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                        <form class="deleteForm" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="review-button">
                <div class="text-right">
                    <a class="btn btn-success review-button"href="/campgrounds/<%= campground._id %>/comments/new">Leave a Review</a>
                </div>
            </div>
            <!-- COMMENT SECTION -->
            <div class="card comment-well">
                <div>
                    <% campground.comments.forEach(function(comment) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="float-right"> 10 days ago</span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a id="comment-edit" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                    <form class="deleteForm" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
